services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
      args:
        - PORT=${APP_PORT}
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy

  database:
    build:
        context: .
        dockerfile: docker/database/Dockerfile
        args:
            - PORT=${POSTGRES_PORT}
            - USER=${POSTGRES_USER}
            - DB=${POSTGRES_DB}
    env_file:
      - .env
    ports:
        - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - database_data:/var/lib/postgresql/data

  cache:
    build:
      context: .
      dockerfile: docker/cache/Dockerfile
      args:
        - PORT=${REDIS_PORT}
    env_file:
      - .env
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    volumes:
      - cache_data:/data

volumes:
  database_data:
  cache_data: