name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.3'

      - name: Install dependencies
        working-directory: ./src
        run: go mod download

      - name: Run unit tests
        working-directory: ./src
        run: go test ./... -cover

  style:
    name: Style
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.3'

      - name: Check formatting
        working-directory: ./src
        run: test -z $(go fmt ./...)

      - name: Install linter
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Run linter
        working-directory: ./src
        run: staticcheck ./...

  security:
    name: Security
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.3'

      - name: Install security checker
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: Run security checker
        working-directory: ./src
        run: gosec ./...
